<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rewrite root access to the public directory
    RewriteRule ^$ public/ [L]

    # Rewrite other requests to the public directory,
    # unless the file or directory already exists in the root
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule> 